@import 'node_modules/include-media/dist/_include-media.scss';
@import 'node_modules/reset-css/sass/reset';

@import './_variables.scss';
@import './_mixins.scss';
@import './_placeholders.scss';

@import './_buttons.scss';

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-base;
    color: $font-color-main;
}
